div.action-bar {
    display        : none;
    flex-direction : row;
    align-items    : center;
    position       : absolute;
    top            : 8px;
    right          : @atom-space-base;
    div.action {
        border-radius    : 50%;
        padding          : 2px 3px;
        background-color : @atom-color-white;
        cursor           : pointer;
        font-size        : 16px;
        margin-left      : @atom-space-small;
        border           : 1px solid @atom-color-line-rule;
        color            : @atom-color-line-rule;
        outline          : @atom-outline;
        i {
            vertical-align : middle;
        }
        &:hover {
            background-color : @atom-color-line-rule-light;
            &.blue-hover {
                border : 1px solid @atom-color-blue;
                color  : @atom-color-blue;
            }
            &.purple-hover {
                border : 1px solid @atom-color-purple;
                color  : @atom-color-purple;
            }
            &.red-hover {
                border : 1px solid @atom-color-error;
                color  : @atom-color-error;
            }
            &.green-hover {
                border : 1px solid @atom-color-green;
                color  : @atom-color-green;
            }
        }
        &.download-action {
            a.download-link {
                color : inherit;
            }
        }
    }
}
// On parent hover, display the action bar
&.is-hover {
    div.action-bar {
        display : flex;
    }
}