<div class="animated fadeIn"
     ng-init="vm.methods.onDisplayDetails(); vm.methods.onInitDetails();">
    <div class="row">
        <div class="col-xs-12">
            <div ng-show="vm.details.group != null">

                <!-- Warning message for banned -->
                <cozen-alert cozen-alert-display="vm.details.group.userRoles.isBanned"
                             cozen-alert-label="'groups_details_no_rights_banned'"
                             cozen-alert-label-values="{'date': (vm.details.group.userRoles.banned.on | date: 'EEEE dd MMMM yyyy'), 'userName': vm.details.group.userRoles.banned.by, 'for': methods.getKickBanFor(vm.details.group.userRoles.banned.for)}"
                             cozen-alert-close-btn="false"
                             cozen-alert-class="space-base-after"
                             cozen-alert-type-warning>
                </cozen-alert>

                <!-- Warning message for kicked -->
                <cozen-alert cozen-alert-display="vm.details.group.userRoles.isKicked && !vm.details.group.userRoles.isBanned"
                             cozen-alert-label="'groups_details_no_rights_kicked'"
                             cozen-alert-label-values="{'date': (vm.details.group.userRoles.kicked.on | date: 'EEEE dd MMMM yyyy'), 'userName': vm.details.group.userRoles.kicked.by, 'for': methods.getKickBanFor(vm.details.group.userRoles.kicked.for), 'time': (vm.methods.getKickedTime(vm.details.group.userRoles.kicked.time).key | translate)}"
                             cozen-alert-close-btn="false"
                             cozen-alert-class="space-base-after"
                             cozen-alert-type-warning>
                </cozen-alert>

                <div class="atom-profile">

                    <!-- Profile card -->
                    <div class="profile-card">
                        <img class="img-circle img-thumbnail"
                             ng-src="{{ methods.getGroupPicture(vm.details.group.name) }}">
                        <div class="text">
                            <div class="center-flex-content flex-start">
                                <h3>{{ vm.details.group.name }}</h3>
                                <cozen-tooltip ng-show="vm.details.group.userRoles.isMember"
                                               cozen-tooltip-placement="auto bottom"
                                               cozen-tooltip-label="'groups_member_since' | translate:{'date': (vm.details.group.userRoles.joined | date: 'EEEE dd MMMM yyyy')}">
                                    <mark class="atom-mark member space-small-left">{{ 'groups_member' | translate }}</mark>
                                </cozen-tooltip>
                                <cozen-tooltip ng-show="vm.details.group.userRoles.isCreator"
                                               cozen-tooltip-placement="auto bottom"
                                               cozen-tooltip-label="'groups_creator_in' | translate:{'date': (vm.details.group.date.creation | date: 'EEEE dd MMMM yyyy')}">
                                    <mark class="atom-mark creator space-small-left">{{ 'groups_creator' | translate }}</mark>
                                </cozen-tooltip>
                                <cozen-tooltip ng-show="vm.details.group.userRoles.isAdmin"
                                               cozen-tooltip-placement="auto bottom"
                                               cozen-tooltip-label="'groups_member_since' | translate:{'date': (vm.details.group.userRoles.joined | date: 'EEEE dd MMMM yyyy')}">
                                    <mark class="atom-mark admin space-small-left">{{ 'groups_admin' | translate }}</mark>
                                </cozen-tooltip>
                                <cozen-tooltip ng-show="vm.details.group.userRoles.isBanned"
                                               cozen-tooltip-placement="auto bottom"
                                               cozen-tooltip-type-html
                                               cozen-tooltip-label="'groups_banned_since' | translate:{'date': (vm.details.group.userRoles.banned.on | date: 'EEEE dd MMMM yyyy'), 'userName': vm.details.group.userRoles.banned.by, 'for': methods.getKickBanFor(vm.details.group.userRoles.banned.for)}">
                                    <mark class="atom-mark banned space-small-left">{{ 'groups_banned' | translate }}</mark>
                                </cozen-tooltip>
                                <cozen-tooltip ng-show="vm.details.group.userRoles.isKicked"
                                               cozen-tooltip-placement="auto bottom"
                                               cozen-tooltip-type-html
                                               cozen-tooltip-label="'groups_kicked_since' | translate:{'date': (vm.details.group.userRoles.kicked.on | date: 'EEEE dd MMMM yyyy'), 'userName': vm.details.group.userRoles.kicked.by, 'for': methods.getKickBanFor(vm.details.group.userRoles.kicked.for), 'time': (vm.methods.getKickedTime(vm.details.group.userRoles.kicked.time).key | translate)}">
                                    <mark class="atom-mark kicked space-small-left">{{ 'groups_kicked' | translate }}</mark>
                                </cozen-tooltip>
                            </div>
                            <p class="help-text">{{ vm.details.group.description }}</p>

                            <!-- Quicklink -->
                            <div ng-include="'views/groups/common/quicklink.html'"></div>
                        </div>
                    </div>

                    <hr>

                    <!-- Details -->
                    <h3>{{ 'groups_details_details' | translate }}</h3>
                    <h4 ng-if="vm.CONFIG.dev">
                        <strong>ID:</strong>
                        {{ vm.details.group._id }}
                    </h4>
                    <h4>
                        <strong>{{ 'groups_details_creator' | translate }}:</strong>
                        <a href
                           ng-click="goTo.view('app.profiles.user', {username: vm.details.group.creator}, $event)"
                           ui-sref="app.profiles.user({username: vm.details.group.creator})">
                            @{{ vm.details.group.creator }}
                        </a>
                    </h4>
                    <h4>
                        <strong>{{ 'groups_details_creation' | translate }}:</strong>
                        {{ vm.details.group.date.creation | date: 'EEEE dd MMMM yyyy' }}
                    </h4>
                    <h4 class="no-margin-bottom">
                        <strong>{{ 'groups_details_last_update' | translate }}:</strong>
                        {{ vm.details.group.date.lastUpdate | date: 'EEEE dd MMMM yyyy' }}
                    </h4>

                    <!-- Stats -->
                    <h3 ng-if-start="Utils.canAccessGoogleVisualization()">
                        {{ 'groups_details_stats' | translate }}
                    </h3>

                    <div class="atom-chart-container">

                        <!-- Members admin/not admin -->
                        <cozen-draw-chart cozen-draw-chart-id="vm.googleGraph.members.id"
                                          cozen-draw-chart-data="vm.googleGraph.members.data()"
                                          cozen-draw-chart-options="vm.googleGraph.members.options"
                                          cozen-draw-chart-type="vm.googleGraph.members.type"
                                          cozen-draw-chart-animation-in="{{ vm.googleGraph.members.animationIn }}">
                        </cozen-draw-chart>
                        <draw-chart-values draw-chart-values-factory="googleGraphGroupMembers"></draw-chart-values>

                        <!-- Members active/kicked/banned -->
                        <cozen-draw-chart ng-if-bootstrap-grid="md,lg"
                                          cozen-draw-chart-id="vm.googleGraph.status.id"
                                          cozen-draw-chart-data="vm.googleGraph.status.data()"
                                          cozen-draw-chart-options="vm.googleGraph.status.options"
                                          cozen-draw-chart-type="vm.googleGraph.status.type"
                                          cozen-draw-chart-animation-in="{{ vm.googleGraph.status.animationIn }}">
                        </cozen-draw-chart>
                        <draw-chart-values ng-if-bootstrap-grid="md,lg"
                                           draw-chart-values-factory="googleGraphGroupStatus">
                        </draw-chart-values>
                    </div>

                    <div ng-if-bootstrap-grid="xs,sm"
                         class="atom-chart-container">

                        <!-- Members active/kicked/banned -->
                        <cozen-draw-chart cozen-draw-chart-id="vm.googleGraph.status.id"
                                          cozen-draw-chart-data="vm.googleGraph.status.data()"
                                          cozen-draw-chart-options="vm.googleGraph.status.options"
                                          cozen-draw-chart-type="vm.googleGraph.status.type"
                                          cozen-draw-chart-animation-in="{{ vm.googleGraph.status.animationIn }}">
                        </cozen-draw-chart>
                        <draw-chart-values draw-chart-values-factory="googleGraphGroupStatus"></draw-chart-values>
                    </div>

                    <!-- Graph-->
                    <div ng-if-end
                         class="atom-chart-container single-chart">

                        <!-- Channels public/private/default -->
                        <cozen-draw-chart cozen-draw-chart-id="vm.googleGraph.channelsTypes.id"
                                          cozen-draw-chart-data="vm.googleGraph.channelsTypes.data()"
                                          cozen-draw-chart-options="vm.googleGraph.channelsTypes.options"
                                          cozen-draw-chart-type="vm.googleGraph.channelsTypes.type"
                                          cozen-draw-chart-animation-in="{{ vm.googleGraph.channelsTypes.animationIn }}">
                        </cozen-draw-chart>
                        <draw-chart-values draw-chart-values-factory="googleGraphGroupChannelsTypes"></draw-chart-values>
                    </div>
                </div>

                <div ng-show="!vm.details.userIsInGroup"
                     class="center-flex-content space-medium-after force-ng-hide">

                    <!-- Join group btn -->
                    <cozen-btn ng-show="!vm.details.group.userRoles.isBanned && !vm.details.group.userRoles.isKicked"
                               class="animated fadeInUp force-ng-hide"
                               cozen-btn-label="'groups_details_join_group'"
                               cozen-btn-auto-sizing="true"
                               cozen-btn-on-click="vm.methods.joinGroup(vm.details.group.name)">
                    </cozen-btn>
                </div>

                <div ng-show="vm.details.userIsInGroup"
                     class="center-flex-content space-medium-after force-ng-hide">

                    <!-- Edit btn -->
                    <cozen-btn ng-show="vm.details.userIsAdmin"
                               class="animated fadeInUp force-ng-hide"
                               cozen-btn-label="'groups_details_edit_group'"
                               cozen-btn-auto-sizing="true"
                               cozen-btn-on-click="goTo.view('app.groups.edit', {'groupName': vm.details.group.name})">
                    </cozen-btn>

                    <!-- Leave btn -->
                    <a ng-show="vm.groupMembers.length > 1"
                       href
                       class="animated fadeInUp force-ng-hide"
                       onclick="this.blur()"
                       ng-click="vm.methods.leaveGroup($event, vm.details.group.name)">
                        {{ 'groups_details_leave_group' | translate }}
                    </a>
                </div>
            </div>

            <!-- If no group found -->
            <cozen-alert cozen-alert-type-error
                         cozen-alert-display="vm.details.group == null"
                         cozen-alert-label="'groups_details_no_group'"
                         cozen-alert-label-values="{groupName: vm.params.groupName}"
                         cozen-alert-close-btn="false">
            </cozen-alert>
        </div>
    </div>
</div>


