<div ng-include="'views/common/popups/popup.logout.html'"></div>
<div ng-include="'views/common/popups/test/popup.test.microphone.html'"></div>
<div ng-include="'views/common/popups/test/popup.test.speaker.html'"></div>
<div ng-include="'views/common/popups/popup.forgotten.password.html'"></div>
<div ng-include="'views/common/popups/settings/popup.logs.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.accessLogs.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.allGroups.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.allChannels.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.groupsMembers.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.channelsMembers.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.groupsInvitations.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.channelsInvitations.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.groupsLogs.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.channelsLogs.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.invitations.filter.html'"></div>
<div ng-include="'views/common/popups/settings/popup.contacts.filter.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.granted.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.revoked.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.kicked.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.banned.html'"></div>
<div ng-include="'views/common/popups/userAction/popup.userAction.unbanned.html'"></div>
<div ng-include="'views/common/popups/chat/popup.setStatus.html'"></div>
<div ng-include="'views/common/popups/chat/popup.message.remove.html'"></div>
<div ng-include="'views/common/popups/bot/popup.bot.profile.friendybot.html'"></div>
<div ng-include="'views/common/popups/bot/popup.bot.profile.spamobot.html'"></div>
<div ng-include="'views/common/popups/friendAction/popup.friendAction.block.html'"></div>
<div ng-include="'views/common/popups/friendAction/popup.friendAction.unblock.html'"></div>
<div ng-include="'views/common/popups/friendAction/popup.friendAction.rename.html'"></div>
<div ng-include="'views/common/popups/friendAction/popup.friendAction.remove.html'"></div>
<div ng-include="'views/common/popups/invitationAction/popup.invitationAction.accept.html'"></div>
<div ng-include="'views/common/popups/invitationAction/popup.invitationAction.refuse.html'"></div>
<div ng-include="'views/common/popups/channel/popup.channel.remove.html'"></div>
<div ng-include="'views/common/popups/group/popup.group.join.html'"></div>
<div ng-include="'views/common/popups/group/popup.group.leave.html'"></div>
<div ng-include="'views/common/popups/channel/popup.channel.join.html'"></div>
<div ng-include="'views/common/popups/channel/popup.channel.leave.html'"></div>
<div ng-include="'views/common/popups/global/popup.global.volume.html'"></div>
