<div class="container space-large-before animated fadeIn">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">

            <!-- Title -->
            <h1>{{ 'SOCIAL.TITLE' | translate }}</h1>
            <p class="help-text space-medium-after">{{ 'SOCIAL.SUBTITLE' | translate }}</p>

            <!-- Nav -->
            <cozen-pills cozen-pills-class="space-large-after"
                         cozen-pills-auto-update-model="false">
                <cozen-pills-item-simple cozen-pills-item-simple-label="account_pills_friends"
                                         cozen-pills-item-simple-on-click="goTo.view('app.social.friends')"
                                         cozen-pills-item-simple-type-purple
                                         cozen-pills-item-simple-selected="goTo.isOneOfThoseViews('app.social.friends')">
                </cozen-pills-item-simple>
                <cozen-pills-item-simple cozen-pills-item-simple-label="account_pills_invitations"
                                         cozen-pills-item-simple-on-click="goTo.view('app.social.invitations')"
                                         cozen-pills-item-simple-type-purple
                                         cozen-pills-item-simple-selected="goTo.isOneOfThoseViews('app.social.invitations', 'app.social.recruit')">
                </cozen-pills-item-simple>
                <cozen-pills-item-simple cozen-pills-item-simple-label="account_pills_profile"
                                         cozen-pills-item-simple-on-click="goTo.view('app.account.profile')"
                                         cozen-pills-item-simple-type-blue
                                         cozen-pills-item-simple-icon-right="fa fa-fw fa-arrow-right"
                                         cozen-pills-item-simple-selected="goTo.isOneOfThoseViews('app.social.profile')"
                                         class="margin-left-auto">
                </cozen-pills-item-simple>
            </cozen-pills>

            <!-- Content -->
            <div class="ui-view"></div>
        </div>
    </div>
</div>
