<!doctype html>
<html ng-app="cogeoApp"
      ng-controller="AppCtrl as app">
    <head>
        <meta charset="utf-8">
        <title ng-bind="($state.current.data.pageTitle | translate:$state.params) + ' - Cogeo'">
            Cogeo
        </title>
        <meta name="description"
              content="">
        <meta name="viewport"
              content="width=device-width, initial-scale=1">

        <!-- Reset the Browser's own custom CSS -->
        <link rel="stylesheet"
              href="bower_components/cozen-lib/release/optional.reset.min.css">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
        <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
        <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" />
        <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.min.css" />
        <link rel="stylesheet" href="bower_components/videogular-themes-default/videogular.css" />
        <link rel="stylesheet" href="bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css" />
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css" />
        <link rel="stylesheet" href="bower_components/cozen-lib/release/main.min.css" />
        <link rel="stylesheet" href="bower_components/ngEmbed/src/ng-embed.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Added the custom CSS -->
        <link rel="stylesheet"
              href="styles/main.min.css">
    </head>

    <!-- This will do all required stuff when first load the app -->
    <body>

        <div ng-if="app.isReady">

            <!-- Navbar top (common to all views) -->
            <div ng-include="'views/common/navbar/navbar.top.html'"></div>

            <!-- Dynamic content goes here, depending on the current ui-view -->
            <cozen-view cozen-view-scroll-bar-height="{{ data.innerHeight - 72 }}">
                <div ui-view></div>
            </cozen-view>
        </div>

        <!-- Loader -->
        <div ng-if="!app.isReady">
            <div class="atom-loader"></div>
        </div>

        <!-- Popups (append to body) -->
        <div ng-include="'views/common/popups/popups.html'"
             ng-controller="PopupCtrl as popup">
        </div>

        <!-- User feed -->
        <cozen-floating-feed></cozen-floating-feed>

        <!-- Zoom image -->
        <zoom-image></zoom-image>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
        <script src="bower_components/ng-scrollbars/src/scrollbars.js"></script>
        <script src="bower_components/angular-uuid-service/angular-uuid-service.js"></script>
        <script src="bower_components/angular-elastic/elastic.js"></script>
        <script src="bower_components/scrollreveal/dist/scrollreveal.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.js"></script>
        <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/wavesurfer.js/dist/wavesurfer.min.js"></script>
        <script src="bower_components/angularAudioRecorder/dist/angular-audio-recorder.min.js"></script>
        <script src="bower_components/videogular/videogular.js"></script>
        <script src="bower_components/videogular-controls/vg-controls.js"></script>
        <script src="bower_components/videogular-buffering/vg-buffering.js"></script>
        <script src="bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
        <script src="bower_components/videogular-poster/vg-poster.js"></script>
        <script src="bower_components/videogular-ima-ads/vg-ima-ads.js"></script>
        <script src="bower_components/waypoints/waypoints.js"></script>
        <script src="bower_components/SHA-1/sha1.js"></script>
        <script src="bower_components/angulartics/src/angulartics.js"></script>
        <script src="bower_components/angulartics/src/angulartics-adobe.js"></script>
        <script src="bower_components/angulartics/src/angulartics-chartbeat.js"></script>
        <script src="bower_components/angulartics/src/angulartics-cnzz.js"></script>
        <script src="bower_components/angulartics/src/angulartics-flurry.js"></script>
        <script src="bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
        <script src="bower_components/angulartics/src/angulartics-ga.js"></script>
        <script src="bower_components/angulartics/src/angulartics-gtm.js"></script>
        <script src="bower_components/angulartics/src/angulartics-kissmetrics.js"></script>
        <script src="bower_components/angulartics/src/angulartics-mixpanel.js"></script>
        <script src="bower_components/angulartics/src/angulartics-piwik.js"></script>
        <script src="bower_components/angulartics/src/angulartics-scroll.js"></script>
        <script src="bower_components/angulartics/src/angulartics-segmentio.js"></script>
        <script src="bower_components/angulartics/src/angulartics-splunk.js"></script>
        <script src="bower_components/angulartics/src/angulartics-woopra.js"></script>
        <script src="bower_components/angulartics/src/angulartics-marketo.js"></script>
        <script src="bower_components/angulartics/src/angulartics-intercom.js"></script>
        <script src="bower_components/videogular-angulartics/vg-analytics.js"></script>
        <script src="bower_components/clipboard/dist/clipboard.js"></script>
        <script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
        <script src="bower_components/messageformat/messageformat.js"></script>
        <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angularjs-social-login/angularjs-social-login.js"></script>
        <script src="bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
        <script src="bower_components/re-tree/re-tree.js"></script>
        <script src="bower_components/ng-device-detector/ng-device-detector.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/console.style/console.style.js"></script>
        <script src="bower_components/chance/chance.js"></script>
        <script src="bower_components/cozen-lib/release/clean/main.js"></script>
        <script src="bower_components/cozen-lib/release/clean/template.cache.js"></script>
        <script src="bower_components/cozen-lib/release/clean/directives.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/ng-if-bootstrap/src/index.js"></script>
        <script src="bower_components/ngEmbed/src/ng-embed.js"></script>
        <script src="bower_components/angular-audio/app/angular.audio.js"></script>
        <script src="bower_components/marked/lib/marked.js"></script>
        <script src="bower_components/angular-marked/dist/angular-marked.js"></script>
        <script src="bower_components/highlight-js/src/highlight.js"></script>
        <script src="bower_components/peerjs/peer.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Other js -->
        <script src="https://platform.twitter.com/widgets.js"></script>

        <!-- Required in first js files -->
        <script src="app.module.js"
                type="text/javascript"></script>
        <script src="app.config.js"
                type="text/javascript"></script>
        <script src="app.run.js"
                type="text/javascript"></script>
        <script type="text/javascript"
                src="https://www.gstatic.com/charts/loader.js">
        </script>

        <!-- start-js -->

        <script src="views/log/log.route.js" type="text/javascript"></script>

        <script src="views/log/log.ctrl.js" type="text/javascript"></script>

        <script src="views/log/log.config.js" type="text/javascript"></script>

        <script src="views/invitations/invitations.route.js" type="text/javascript"></script>

        <script src="views/invitations/invitations.ctrl.js" type="text/javascript"></script>

        <script src="views/home/home.router.js" type="text/javascript"></script>

        <script src="views/home/home.ctrl.js" type="text/javascript"></script>

        <script src="views/groups/new/group.new.router.js" type="text/javascript"></script>

        <script src="views/groups/new/group.new.ctrl.js" type="text/javascript"></script>

        <script src="views/groups/join/group.join.router.js" type="text/javascript"></script>

        <script src="views/groups/join/group.join.ctrl.js" type="text/javascript"></script>

        <script src="views/groups/groups.route.js" type="text/javascript"></script>

        <script src="views/groups/groups.ctrl.js" type="text/javascript"></script>

        <script src="views/groups/groups.config.js" type="text/javascript"></script>

        <script src="views/dev/dev.router.js" type="text/javascript"></script>

        <script src="views/dev/dev.ctrl.js" type="text/javascript"></script>

        <script src="views/common/profiles/profiles.route.js" type="text/javascript"></script>

        <script src="views/common/profiles/profiles.ctrl.js" type="text/javascript"></script>

        <script src="views/common/popups/popups.ctrl.js" type="text/javascript"></script>

        <script src="views/common/navbar/navbar.ctrl.js" type="text/javascript"></script>

        <script src="views/common/error/error.router.js" type="text/javascript"></script>

        <script src="views/common/error/error.ctrl.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/zoom/actionBar.zoom.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/volume/actionBar.volume.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/stop/actionBar.stop.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/remove/actionBar.remove.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/play/actionBar.play.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/pause/actionBar.pause.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/edit/actionBar.edit.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/download/actionBar.download.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/copy/actionBar.copy.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/chat/actionBar.chat.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/answer/actionBar.answer.directive.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/actionBar.module.js" type="text/javascript"></script>

        <script src="views/chat/messages/action-bar/accordion/actionBar.accordion.directive.js" type="text/javascript"></script>

        <script src="views/chat/chat.route.js" type="text/javascript"></script>

        <script src="views/chat/chat.ctrl.js" type="text/javascript"></script>

        <script src="views/chat/chat.config.js" type="text/javascript"></script>

        <script src="views/channels/channels.route.js" type="text/javascript"></script>

        <script src="views/channels/channels.ctrl.js" type="text/javascript"></script>

        <script src="views/channels/channels.config.js" type="text/javascript"></script>

        <script src="views/app.router.js" type="text/javascript"></script>

        <script src="views/account/social/social.route.js" type="text/javascript"></script>

        <script src="views/account/social/social.ctrl.js" type="text/javascript"></script>

        <script src="views/account/account.route.js" type="text/javascript"></script>

        <script src="views/account/account.ctrl.js" type="text/javascript"></script>

        <script src="views/account/account.config.js" type="text/javascript"></script>

        <script src="scripts/filters/startFrom.js" type="text/javascript"></script>

        <script src="scripts/filters/privateChannels.js" type="text/javascript"></script>

        <script src="scripts/filters/myGroups.js" type="text/javascript"></script>

        <script src="scripts/filters/myChannels.js" type="text/javascript"></script>

        <script src="scripts/filters/logs.events.js" type="text/javascript"></script>

        <script src="scripts/filters/groupsMembers.status.js" type="text/javascript"></script>

        <script src="scripts/filters/groupsInvitations.types.js" type="text/javascript"></script>

        <script src="scripts/filters/defaultChannels.js" type="text/javascript"></script>

        <script src="scripts/factories/google-graph/groupStatus.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/google-graph/groupMembers.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/google-graph/groupChannelsTypes.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/google-graph/channelStatus.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/google-graph/channelMembers.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/common/webrtc.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/common/utils.functions.js" type="text/javascript"></script>

        <script src="scripts/factories/common/readableTime.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/common/logs.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/common/http.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/common/goTo.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/common/colors.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/common/backState.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/cogeo/users.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/cogeo/user.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/cogeo/navigation.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/cogeo/groups.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/cogeo/displayTypes.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/cogeo/directMessages.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/cogeo/channels.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/cogeo/bot.factory.js" type="text/javascript"></script>

        <script src="scripts/factories/cogeo/accessLog.factory.js" type="text/javascript"></script>

        <script src="scripts/directives/zoom-image/zoomImage.directive.js" type="text/javascript"></script>

        <script src="scripts/directives/userAction/userAction.directive.js" type="text/javascript"></script>

        <script src="scripts/directives/logoLayer/logoLayer.directive.js" type="text/javascript"></script>

        <script src="scripts/directives/invitationAction/invitationAction.directive.js" type="text/javascript"></script>

        <script src="scripts/directives/friendAction/friendAction.directive.js" type="text/javascript"></script>

        <script src="scripts/directives/draw-chart-values/drawChartValues.directive.js" type="text/javascript"></script>

        <script src="scripts/directives/dateNow.directive.js" type="text/javascript"></script>

        <script src="scripts/controllers/app.ctrl.js" type="text/javascript"></script>

        <!-- end-js -->
    </body>
</html>
