<cozen-form cozen-form-ctrl="vm"
            cozen-form-model="form"
            cozen-form-name="message"
            cozen-form-class="row">

    <!-- Textarea for classic messages -->
    <cozen-textarea cozen-textarea-rows="1"
                    cozen-textarea-disabled="vm.activeFriend.blocked != 0 && $state.current.name == 'app.chat.user'"
                    cozen-textarea-model="vm.message"
                    cozen-textarea-placeholder="vm.inputPlaceholder"
                    cozen-textarea-spell-check="false"
                    cozen-textarea-error-design="false"
                    cozen-textarea-success-design="false"
                    cozen-textarea-when-height-greater-than="149"
                    cozen-textarea-when-height-greater-than-class="overflow-textarea"
                    cozen-textarea-when-height-greater-than-disabled="false"
                    cozen-textarea-on-enter="vm.methods.sendNewMessage(name, model)">
    </cozen-textarea>

    <!-- Upload custom btn -->
    <cozen-btn class="chat-upload-btn"
               cozen-btn-is-upload="true"
               cozen-btn-label=""
               cozen-btn-icon-left="fa fa-fw icons8-upload"
               cozen-btn-upload-model="vm.upload.model"
               cozen-btn-upload-config="vm.upload.config"
               cozen-btn-preview="false"
               cozen-btn-upload-progress="false"
               cozen-btn-is-uploading="vm.upload.isUploading"
               cozen-btn-has-upload-error="vm.upload.hasUploadError"
               cozen-btn-upload-alert="false"
               cozen-btn-disabled="vm.upload.isUploading"
               cozen-btn-on-upload-success="vm.upload.onSuccess(model, file)">
    </cozen-btn>
</cozen-form>

<div class="row justify-space-around space-small-before">

    <!-- Pro tips -->
    <span class="pro-tips margin-right-auto"
          cozen-compile="'chat_newMessage_proTips_1' | translate">
    </span>

    <!-- Pro tips -->
    <span class="pro-tips margin-left-auto"
          cozen-compile="'chat_newMessage_proTips_2' | translate">
    </span>
</div>

