// Font paths
// -------------------------
@font-face {
    font-family : "Atom";
    src         : url("../../fonts/Atom_4bd114cb392d7907a97db572aa0e2f5a.eot");
    src         : url("../../fonts/Atom_4bd114cb392d7907a97db572aa0e2f5a.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Atom_4bd114cb392d7907a97db572aa0e2f5a.woff2") format("woff2"),
    url("../../fonts/Atom_4bd114cb392d7907a97db572aa0e2f5a.woff") format("woff"),
    url("../../fonts/Atom_4bd114cb392d7907a97db572aa0e2f5a.ttf") format("truetype"),
    url("../../fonts/Atom_4bd114cb392d7907a97db572aa0e2f5a.svg#Atom") format("svg");
    font-weight : normal;
    font-style  : normal;
}
@media screen and (-webkit-min-device-pixel-ratio : 0) {
    @font-face {
        font-family : "Atom";
        src         : url("../../fonts/Atom_4bd114cb392d7907a97db572aa0e2f5a.svg#Atom") format("svg");
    }
}