// Variables
// --------------------------

@icons8-css-prefix : "icons8";
@icons8-font-name : "Atom";
@icons8-font-path : "../fonts";

@icons8-var-appointment-reminders : "\f120";
@icons8-var-channel-mosaic : "\f107";
@icons8-var-chat : "\f140";
@icons8-var-close-pane-filled : "\f135";
@icons8-var-clouds-filled : "\f111";
@icons8-var-collapse : "\f138";
@icons8-var-edit : "\f116";
@icons8-var-event-accepted-filled : "\f12c";
@icons8-var-event-accepted-tentatively-filled : "\f12b";
@icons8-var-event-declined-filled : "\f12a";
@icons8-var-expand : "\f137";
@icons8-var-google-groups : "\f108";
@icons8-var-google-plus : "\f113";
@icons8-var-handshake : "\f13e";
@icons8-var-hourglass-filled : "\f130";
@icons8-var-lock : "\f128";
@icons8-var-login-rounded-right : "\f10f";
@icons8-var-logout-rounded : "\f10e";
@icons8-var-message-filled : "\f114";
@icons8-var-microphone : "\f119";
@icons8-var-network : "\f118";
@icons8-var-no-chat : "\f124";
@icons8-var-open-pane-filled : "\f134";
@icons8-var-pause : "\f13c";
@icons8-var-picture-filled : "\f10c";
@icons8-var-play : "\f11d";
@icons8-var-plus : "\f126";
@icons8-var-rabbit : "\f10a";
@icons8-var-record : "\f11e";
@icons8-var-response : "\f12e";
@icons8-var-robot-3-filled : "\f10b";
@icons8-var-settings : "\f105";
@icons8-var-speaker : "\f11a";
@icons8-var-stop : "\f11c";
@icons8-var-time : "\f106";
@icons8-var-trash : "\f132";
@icons8-var-unlock : "\f127";
@icons8-var-upload : "\f141";
@icons8-var-user-groups : "\f122";
@icons8-var-user-male : "\f125";
@icons8-var-video-call : "\f109";
@icons8-var-zoom-in : "\f13a";
