<cozen-popup cozen-popup-name="contactsFilter"
             cozen-popup-type-purple
             cozen-popup-size-small
             cozen-popup-data="popup.contactsFilter.data"
             cozen-popup-header-title="'popup_groupsMembers_filter_header_title'"
             cozen-popup-on-hide="popup.methods.onPopupSettingsClose(id, name)">
    <div class="row">
        <div class="col-xs-10 col-xs-push-1 space-large-before space-large-after">
            <cozen-form cozen-form-name="contactsFilter"
                        cozen-form-ctrl="popup"
                        cozen-form-model="form">

                <!-- Status -->
                <cozen-dropdown cozen-dropdown-model="popup.contactsFilter.trash"
                                cozen-dropdown-validator-all
                                cozen-dropdown-multiple="true"
                                cozen-dropdown-model-enhanced="2"
                                cozen-dropdown-class="space-medium-after"
                                cozen-dropdown-label="popup_groupsMembers_filter_body_invitationsType"
                                cozen-dropdown-placeholder="popup_groupsMembers_filter_body_invitationsType_pc"
                                cozen-dropdown-all-selected-text="popup_groupsMembers_filter_body_invitationsType_allSelected">
                    <cozen-dropdown-item-simple ng-repeat="status in popup.contactsFilter.data.status track by $index"
                                                cozen-dropdown-item-simple-value="status.id"
                                                cozen-dropdown-item-simple-label="{{ status.name }}"
                                                cozen-dropdown-item-simple-icon-left="{{ status.icon }} {{ status.color }}"
                                                cozen-dropdown-item-simple-selected="status.selected">
                    </cozen-dropdown-item-simple>
                </cozen-dropdown>

                <!-- Limit per page -->
                <cozen-input cozen-input-model="popup.contactsFilter.data.limit"
                             cozen-input-name="limit"
                             cozen-input-min="1"
                             cozen-input-max="100"
                             cozen-input-min-length="1"
                             cozen-input-max-length="3"
                             cozen-input-type-number
                             cozen-input-label="popup_members_filter_body_limit"
                             cozen-input-placeholder="popup_members_filter_body_limit_pc"
                             cozen-input-required="true"
                             cozen-input-validator-all
                             cozen-input-class="space-medium-after">
                </cozen-input>

                <!-- Order by -->
                <cozen-btn-toggle cozen-btn-toggle-model="popup.contactsFilter.data.orderBy"
                                  cozen-btn-toggle-label="popup_logs_filter_body_order_by"
                                  cozen-btn-toggle-tooltip="popup_logs_filter_body_order_by_tooltip">
                </cozen-btn-toggle>
            </cozen-form>
        </div>
    </div>
</cozen-popup>
