<div class="full-center-content"
     ng-class="vm.stepForward ? 'anim-slide-left' : 'anim-slide-right'">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div ng-class="{'animated fadeInLeft': vm.data.step1FirstShow}">

                <!-- Title -->
                <div class="no-padding col-xs-12 col-sm-10 col-sm-push-1 col-md-12 col-md-push-0 col-lg-10 col-lg-push-1">
                    <h1 class="no-margin-top">{{ 'groups_new_1_title' | translate }}</h1>
                    <p class="help-text">{{ 'groups_new_1_subtitle_1' | translate }}</p>
                </div>

                <!-- Form -->
                <div class="no-padding col-xs-12 col-sm-10 col-sm-push-1 col-md-12 col-md-push-0 col-lg-10 col-lg-push-1">
                    <cozen-form cozen-form-name="newGroup1"
                                cozen-form-ctrl="vm"
                                cozen-form-model="form"
                                cozen-form-class="space-large-before">
                        <cozen-input cozen-input-model="vm.newGroup.name"
                                     cozen-input-name="{{ vm.CONFIG.internal.group.name.name }}"
                                     cozen-input-max-length="{{ vm.CONFIG.internal.group.name.length }}"
                                     cozen-input-pattern="{{ vm.CONFIG.internal.group.name.pattern }}"
                                     cozen-input-label="groups_register_name"
                                     cozen-input-placeholder="groups_register_name_pc"
                                     cozen-input-auto-complete="off"
                                     cozen-input-icon-right="fa"
                                     cozen-input-required="{{ vm.CONFIG.internal.group.name.required }}">
                        </cozen-input>

                        <cozen-btn cozen-btn-label="'groups_new_1_valid_name'"
                                   cozen-btn-auto-sizing="true"
                                   cozen-btn-disabled="vm.form.newGroup1.$invalid"
                                   cozen-btn-loader="vm.loading"
                                   cozen-btn-on-click="vm.methods.checkGroupName()"
                                   cozen-btn-icon-right="fa fa-fw fa-arrow-right"
                                   cozen-btn-class="space-medium-before space-medium after"
                                   cozen-btn-id="submit-btn-new-group-step-1">
                        </cozen-btn>
                    </cozen-form>
                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-6 background-blue-flat">
            <img ng-class="{'animated zoomIn': vm.data.step1FirstShow}"
                 ng-src="images/bg/groups-users.png">
        </div>
    </div>
</div>

<cozen-btn-lazy-test cozen-btn-lazy-test-label="Random name"
                     cozen-btn-lazy-test-on-click="vm.methods.setRandomGroupName();">
</cozen-btn-lazy-test>
